{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Taste of Home - Dashboard</title>
    <link href="{% static 'css/styles-admin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/fontawesome-free-admin/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables-admin/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

   <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand align-items-center justify-content-center" href="{% url 'app:admin_index' %}">
               <img src="{% static 'images/logo.png' %}"  class="logo"/>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tifins
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tifins"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-bread-slice"></i>
                    <span>Menu</span>
                </a>
                <div id="tifins" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner ">

                        <a class="collapse-item" href="{% url 'app:admin_categories' %}">Categories</a>
                        <a class="collapse-item" href="{% url 'app:admin_items' %}">Items</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:admin_meals' %}"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-hamburger"></i>
                    <span>Meals</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:admin_orders' %}"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-list"></i>
                    <span>Orders</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:admin_todayreport' %}"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-list"></i>
                    <span>Today's Report</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link " href="{% url 'app:admin_dailyorder' %}"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-list"></i>
                    <span>Daily Orders</span>
                </a>

            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tracking
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_suburb' %}">
                    <i class="fas fa-map"></i>
                    <span>Suburb</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_drivers' %}">
                    <i class="fas fa-users"></i>
                    <span>Drivers</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#delivery"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-shuttle-van"></i>
                    <span>Delivery Van</span>
                </a>
                <div id="delivery" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner ">

                        <a class="collapse-item" href="{% url 'app:admin_deliverytifin' %}">Tifin</a>

                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Users Desk
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_customers' %}">
                    <i class="fas fa-users"></i>
                    <span>Customers</span></a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_users' %}">
                    <i class="fas fa-credit-card"></i>
                    <span>Users</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_sizes' %}">
                    <i class="fas fa-list"></i>
                    <span>Sizes</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_variations' %}">
                    <i class="fas fa-list"></i>
                    <span>Variations</span></a>
            </li>
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Subscription
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_subscription' %}">
                    <i class="fas fa-credit-card"></i>
                    <span>Subscription</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin_promocode' %}">
                    <i class="fas fa-list"></i>
                    <span>PromoCodes</span></a>
            </li>



            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Reports
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reports"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-list"></i>
                    <span>Reports</span>
                </a>
                <div id="reports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner ">

                        <a class="collapse-item" href="{% url 'app:admin_salesreport' %}">Sales Report</a>

                        <a class="collapse-item" href="{% url 'app:admin_orderreport' %}">Order Report</a>

                        <a class="collapse-item" href="{% url 'app:admin_itemreport' %}">Item Report</a>

                        <a class="collapse-item" href="{% url 'app:admin_suburreport' %}">Suburb Wise Order</a>
                    </div>
                </div>
            </li>




            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#settings"
                    aria-expanded="true" aria-controls="tifins">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                </a>
                <div id="settings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-light py-2 collapse-inner ">

                        <a class="collapse-item" href="{% url 'app:admin_timing' %}">Timings</a>

                        <a class="collapse-item" href="{% url 'app:admin_closedate' %}">Close Dates</a>

                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Taste of Home</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Promocodes</h1>
            

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <h6 class="m-0 font-weight-bold  d-inline text-primary">Promocodes</h6>
                                </div>
                                <div class="col-sm-12 col-md-4 text-right">
                       
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addpromo">Add </button>
                             
                                    <div id="addpromo" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                      
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title">Add Promocode</h6>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                                            </div>
                                              <form action="{% url 'app:admin_promocode'%}" method="POST" enctype="multipart/form-data">
                                                  {% csrf_token %}
                                                <div class="modal-body text-left px-5">
                                                    <label class="">Promocode</label>
                                                    <input placeholder="Enter Promocode" name="promo_code" type="text" class="form-control" required/>

                                                    <label class="">End Date</label>
                                                    <input type="date" id="end_date"  name="enddate" required>

                                                    <label class="">End Time</label>
                                                    <input type="time" id="end_time" name="endtime" required>

                                                    <label class="">Min Amount</label>
                                                    <input placeholder="Enter Min amount" name="min_amount" type="text" class="form-control" required/>

                                                    <label class="">Discount Type</label>
                                                    <select class="form-control" name="discount" required>
                                                        <option>Select</option>
                                                        <option>%</option>
                                                        <option>$</option>
                                                    </select>
                                                    <label class="">Amount</label>
                                                    <input placeholder="Enter Min amount" name="amount" type="text" class="form-control" required/>

                                                    <label class="">Select Custome</label>
                                                    <select class="form-control" name="customer" required>
                                                        <option value="" disabled>Select Customer</option>
                                                        {% for j in user_data %}
                                                        <option value="{{j.id}}">{{j.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success" >Submit</button>
                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                              </form>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable33" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>SNo</th>
                                            <th>Promocode</th>
                                            <th>End Date</th>
                                            <th>End Time</th>
                                            <th>Min Amount</th>
                                            <th>Discount Amount</th>
                                            <th>Discount Type</th>
                                            <th>Customer Name</th>
<!--                                            <th>Service</th>-->
                                            <th>Action</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>SNo</th>
                                            <th>Promocode</th>
                                            <th>End Date</th>
                                            <th>End Time</th>
                                            <th>Min Amount</th>
                                            <th>Discount Amount</th>
                                            <th>Discount Type</th>
                                            <th>Customer Name</th>
<!--                                            <th>Service</th>-->
                                            <th>Action</th>
                                            <th>Status</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for k in promocode_data%}
                                        <tr>
                                            <td>{{ forloop.counter}}</td>
                                            <td>{{k.promo_code}}</td>
                                            <td>{{k.end_date}}</td>
                                            <td>{{k.end_time}}</td>
                                            <td>{{k.min_amt}}</td>
                                            <td>{{k.amount}}</td>
                                            <td>{{k.discount}}</td>
                                            <td>{{k.customer.name}}</td>
<!--                                            <td>{{k.services}}</td>-->
                                            <td class="align-items-center">
                                                <div>
                                                    <button class="btn btn-sm edit_promocode" data-toggle="modal" data-target="#editpromo" value="{{k.id}}"><i class="iconbg-edit fa fa-edit"></i></button>
                                                    <a href="{% url 'app:admin_promocode_delete' k.id %}" ><button class="btn btn-sm"><i class="iconbg-delete fa fa-trash"></i></button></a>
                                                    <div id="editpromo" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                      
                                                          <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h6 class="modal-title">Edit Promocode</h6>
                                                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                                                            </div>
                                                            <form action="{% url 'app:admin_promocode_edit'%}" method="POST" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="text" value="" name="promo_id" id="aj_promo_id" hidden>
                                                                <div class="modal-body text-left px-5">
                                                                    <label class="">Promocode</label>
                                                                    <input placeholder="Enter Promocode" type="text" class="form-control" value="" name="aj_promocode" id="aj_promocode" />

                                                                    <label class="">End Date</label>
                                                                    <input type="date" value="" name="aj_enddate" id="aj_enddate" >

                                                                    <label class="">End Time</label>
                                                                    <input type="time" value="" name="aj_endtime" id="aj_endtime">

                                                                    <label class="">Min Amount</label>
                                                                    <input placeholder="Enter Min amount" type="text" class="form-control" value="" name="aj_minamt" id="aj_minamt" />

                                                                    <label class="">Discount Type</label>
                                                                    <select class="form-control" value="" name="aj_discount" id="aj_discount" >
                                                                        <option>Select</option>
                                                                        <option>%</option>
                                                                        <option>$</option>
                                                                    </select>
                                                                    <label class="">Amount</label>
                                                                    <input placeholder="Enter Min amount" type="text" class="form-control" value="" name="aj_amt" id="aj_amt" />

                                                                    <label class="">Select Custome</label>
                                                                    <select class="form-control" value="" name="aj_customer" id="aj_customer">
                                                                        <option>Select Customer</option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-success" >Submit</button>
                                                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                        </td>
                                            {% if k.status == 0 %}
                                                <td><a href="{% url 'app:admin_promocode_completed' k.id %}" ><button class="btn btn-success" style="background-color:skyblue">Completed</button></a></td>
                                            {% else %}
                                                <td>Expired</td>
                                            {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery-admin/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-admin/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing-admin/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

     <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables-admin/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-admin/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/datatables-demo.js' %}"></script>
    <script>
    $(".edit_promocode").click(function (e) {
        e.preventDefault();
        var id = $(this).val();
        $.ajax({
            type: 'POST',
            url: "{% url 'app:admin_ajax_promocode_edit' %}",
            data: {"id": id},
            success: function (response) {
                $("#aj_promocode").val(response.data.promo_code);
                $("#aj_enddate").val(response.data.end_date);
                $("#aj_endtime").val(response.data.end_time);
                $("#aj_minamt").val(response.data.min_amt);
                $("#aj_discount").val(response.data.discount);
                $("#aj_amt").val(response.data.amount);
<!--                $("#aj_customer").val(response.data.customer);-->
                $("#aj_promo_id").val(response.data.id);

                var select = $('#aj_customer');
                select.empty();
                for (var i = 0; i < response.data.user_data.length; i++) {

                    var option = $('<option>', {
                        value: response.data.user_data[i].id,
                        text: response.data.user_data[i].name
                    });
                    if (response.data.user_data[i].id==response.data.customer){
                        option.prop('selected', true);
                    }
                    select.append(option);
                }

            },
            error: function (error) {
                console.log("error",error);
            }
        })
    })
</script>


</body>

</html>