{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Taste of Home - Driver Orders</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles-admin.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free-admin/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
    <!-- print function -->
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables-admin/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand align-items-center justify-content-center" href="index.html">
           <img src="{% static 'images/logo.png' %}"  class="logo"/>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'app:driver1' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Driver 1</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Driver 1</span>
                                <img class="img-profile rounded-circle"
                                    src="{% static 'img/undraw_profile.svg' %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{% url 'app:sign_out' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Order Details</h1>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                           <a class="nav-link active" data-bs-toggle="tab" href="#todayord">Today Orders</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" data-bs-toggle="tab" href="#completedord">Completed Orders</a>
                        </li>
                    </ul>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                          <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="todayord">        
                                 <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable37" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>SNo</th>
                                                    <th>Order Number</th>
                                                    <th>Phone Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Order Placed Date/Time</th>
                                                    <th>Address</th>
                                                    <th>Suburb</th>
                                                    <th>Total Price</th>
                                                    <th>Meal Items</th>
                                                    <th>Single Items</th>
                                                    <th>Payment Received</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for tdord in order_today %}
                                                 <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{tdord.order_id}}</td>
                                                    <td>{{tdord.user_date.mobile}}</td>
                                                    <td>{{tdord.user_date.name}}</td>
                                                    <td>{{tdord.order_date_time}}</td>
                                                    <td>{{tdord.user_date.address}}</td>
                                                    <td>{{tdord.order_address_customer.name}}&nbsp;&nbsp;{{tdord.order_address_customer.code}}</td>
                                                    <td>{{tdord.total_amt}}</td>
                                                     {% if tdord.order_status != 'Subscription' %}
                                                        <td>{{tdord.meals_date.meal_text}}</td>
                                                        <td>{{tdord.meals_date.item}}&nbsp;&nbsp;{{tdord.meals_date.fixed_item}}</td>
                                                    {% else %}
                                                        <td>{{tdord.item}}</td>
                                                        <td>{{tdord.single_item}}</td>
                                                     {% endif %}
                                                     {% if tdord.payment_status == "Completed" %}
                                                     <td><p>Paid</p></td>
                                                     {% else %}
                                                     <td><a href="{% url 'app:admin_orders_payment' tdord.id %}" ><span class="refunds badge badge-success">Received</span></a></td>
                                                    {% endif %}
                                                     <td class="align-items-center">
                                                        <div>
                                                            <a href="{% url 'app:driver_orders_completed' tdord.id %}" ><span class="refunds badge badge-info">Mark Delivered</span></a>
                                                            <a href="{% url 'app:driver_orders_decline' tdord.id %}" ><span class="refunds badge badge-danger">Mark undelivered</span></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="completedord">       
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable38" width="100%" cellspacing="0">
                                            <thead>

                                                <tr>
                                                    <th>SNo</th>
                                                    <th>Order Number</th>
                                                    <th>Phone Number</th>
                                                    <th>Customer Name</th>
                                                    <th>Order Placed Date/Time</th>
                                                    <th>Address</th>
                                                    <th>Suburb</th>
                                                    <th>Price</th>
                                                    <th>Meal Items</th>
                                                    <th>Single Items</th>
                                                    <th>Order Instrustion</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for tdord1 in order_completed %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{tdord1.order_id}}</td>
                                                    <td>{{tdord1.user_date.mobile}}</td>
                                                    <td>{{tdord1.user_date.name}}</td>
                                                    <td>{{tdord1.order_date_time}}</td>
                                                    <td>{{tdord1.order_address_customer.address}}</td>
                                                    <td>{{tdord1.order_address_customer.name}}&nbsp;&nbsp;{{tdord1.order_address_customer.code}}</td>
                                                    <td>{{tdord1.total_amt}}</td>
                                                     {% if tdord1.order_status != 'Subscription' %}
                                                        <td>{{tdord1.meals_date.meal_text}}</td>
                                                        <td>{{tdord1.meals_date.item}}&nbsp;&nbsp;{{tdord1.meals_date.fixed_item}}</td>
                                                    {% else %}
                                                        <td>{{tdord1.item}}</td>
                                                        <td>{{tdord1.single_item}}</td>
                                                     {% endif %}

                                                    <td><span class="refunds badge badge-success">Delivered</span></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Taste of Home 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/datatables-demo.js' %}"></script>
</body>

</html>
